<!-- Included in home, product-view, cart -->
{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fromtail.css' %}">
    {% block css %}{% endblock %}
</head>

<body class="bg-gray-100">

    <!-- HEADER -->
    <header class="text-white body-font bg-orange-500 sticky top-0 w-full z-20 shadow-md">
        <div class="container mx-auto flex p-2 md:p-0 flex-col md:flex-row items-center">

            <div
                class="flex title-font font-medium items-center text-gray-900 mb-4 mr-4  md:mb-0 cursor-pointer px-2 rounded">
                <a href="/home" id="header-home" class="text-xl text-white font-bold title-font" tabindex="1">The <span
                        class="text-black">Xpress</span>
                    Grocery</a>
            </div>

            <form method="GET" action="/home/search"
                class="mx-4 flex flex-nowrap items-center text-black justify-center w-full lg:w-2/4 py-2">
                <div id="category-display"
                    class="bg-gray-100 text-md border-0 hover:bg-gray-300 active:bg-gray-400 rounded rounded-r-none cursor-pointer">
                    <a class="flex flex-row items-baseline px-2 md:px-4 py-2" tabindex="2"
                        title="All Categories">List&nbsp;
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9L12 16L5 9" stroke="#4A5568" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>

                <input id="query" name="query"
                    class="bg-gray-100 border-0 focus:outline-none  text-base px-4 py-2 w-full shadow-inner" required
                    placeholder="Search for Products, Categories..." type="text" tabindex="3">
                <button type="submit" id="search-button"
                    class="text-base bg-gray-100 border-0 px-2 md:px-4 py-2 hover:bg-gray-300 active:bg-gray-400 rounded rounded-l-none text-md"
                    tabindex="4"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                            stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </form>
            {% if user.is_authenticated %}
            <div class="flex flex-row md:ml-4 justify-around items-center grid-cols-2 w-full lg:w-1/4">
                <div class="relative text-sm flex flex-row mx-4 p-2 hover:border-white rounded focus:outline-none focus:border-white border-2 border-transparent cursor-pointer"
                    tabindex="5">
                    <div id="user-options-display"
                        class="px-2 inline-flex items-center flex-row flex-nowrap focus:outline-none z-10">Hello,
                        {{request.user.get_short_name}}&nbsp;
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 9L12 16L5 9" stroke="#FFF" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div id="dropdown-background" class="hidden fixed inset-0 opacity-25 bg-black cursor-default"></div>
                    <div id="user-dropdown"
                        class="hidden flex-col bg-white left-0 shadow-md text-black rounded mt-8 py-2 absolute">
                        <a href="/track-order" class="block px-4 w-40 py-1 hover:text-white hover:bg-orange-500"
                            tabindex="6">My
                            Orders</a>
                        <a href="/request" class="block px-4 w-40 py-1 hover:text-white hover:bg-orange-500"
                            tabindex="7">Request
                            Product</a>
                        <a href="/address" class="block px-4 w-40 py-1 hover:text-white hover:bg-orange-500"
                            tabindex="7">Update Address</a>
                        <a href="/logout" class="block px-4 w-40 py-1 hover:text-white hover:bg-orange-500"
                            tabindex="8">Logout</a>
                    </div>
                </div>
                <a href="/cart" id="header-cart"
                    class="flex flex-row mx-4 p-2  hover:border-white rounded focus:outline-none focus:border-white border-2 border-transparent cursor-pointer"
                    tabindex="9" title="Cart"><span class="hidden xl:inline-flex">Cart</span>
                    <svg class="text-white" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                            stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p id="cart-count-shower" class="text-xs">(<span
                            id="cart-count">{{request.user|cart_item_count}}<span>)</p>
                </a>
            </div>
            {% else %}
            <div class="flex flex-row md:ml-4 justify-center lg:justify-end items-center grid-cols-2 w-full lg:w-1/4">
                <a href="/"
                    class="flex flex-row mx-4 p-2 hover:border-white rounded focus:outline-none focus:border-white border-2 border-transparent cursor-pointer"
                    tabindex="4" title="Orders">Login</a>
                <a href="/registration"
                    class="flex flex-row mx-4 p-2 hover:border-white rounded focus:outline-none focus:border-white border-2 border-transparent cursor-pointer"
                    tabindex="6" title="Logout">Sign Up</a>
            </div>
            {% endif %}
        </div>
        <div class="hidden md:flex flex-col md:flex-row p-2 md:p-0 items-center justify-evenly bg-gray-100 text-black"
            id="category-list">
            <a href="/home" class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">All
                Categories</a>
            <a href="/all-products/Staples"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Staples</a>
            <a href="/all-products/Snacks and Branded Food"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Snacks and
                Branded Food</a>
            <a href="/all-products/Beverages"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Beverages</a>
            <a href="/all-products/Personal Care"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Personal
                Care</a>
            <a href="/all-products/Home Care"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Home
                Care</a>
            <a href="/all-products/Baby Care"
                class="p-2 border-black border-b-2 md:border-0 hover:text-orange-600 cursor-pointer">Baby
                Care</a>
        </div>
    </header>

    {% for message in messages %}
    <div class="absolute bg-{{message.tags}}-100 border border-{{message.tags}}-400 text-{{message.tags}}-700 px-4 py-3 rounded w-full text-center"
        role="alert">
        <strong class="font-bold">{{message}}</strong>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.style.display = 'None';">
            <svg class="fill-current h-6 w-6 text-{{message.tags}}-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>

    </div>
    {% endfor %}

    {% block body %}{% endblock %}

    <!-- FOOTER   -->
    <footer class="text-white body-font bg-black shadow-2xl">
        <div class="flex justify-center items-start">
            <div class="container px-4 py-3 flex items-center justify-between sm:flex-row flex-col">

                <div class="mx-4 flex flex-wrap items-center sm:flex-row flex-col">
                    <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 cursor-pointer p-1">
                        <a href="/home" class="redirect-home text-xl text-nowrap text-white font-bold title-font">The
                            <span class="text-orange-500 text-nowrap">Xpress</span>
                            Grocery</a>
                    </div>
                    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">
                        &#xa9; 2020 — thexpressgrocery.com
                    </p>
                </div>

                <a href="/about-us" id="footer-about"
                    class="font-title text-base mx-4 my-1 p-2 hover:text-orange-500 cursor-pointer">About Us</a>

                <div class="flex flex-col justify-center items-center sm:flex-row ">
                    <div class="flex justify-center items-center mx-4 p-2 flex-col">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 8L10.8906 13.2604C11.5624 13.7083 12.4376 13.7083 13.1094 13.2604L21 8M5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19Z"
                                stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <a class="font-title text-sm cursor-pointer mx-1 text-orange-500">
                            myshop@thexpressgrocery.com</a>
                    </div>

                    <div class="flex justify-center items-center mx-4 p-2 flex-col">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 5C3 3.89543 3.89543 3 5 3H8.27924C8.70967 3 9.09181 3.27543 9.22792 3.68377L10.7257 8.17721C10.8831 8.64932 10.6694 9.16531 10.2243 9.38787L7.96701 10.5165C9.06925 12.9612 11.0388 14.9308 13.4835 16.033L14.6121 13.7757C14.8347 13.3306 15.3507 13.1169 15.8228 13.2743L20.3162 14.7721C20.7246 14.9082 21 15.2903 21 15.7208V19C21 20.1046 20.1046 21 19 21H18C9.71573 21 3 14.2843 3 6V5Z"
                                stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        <span class="font-title text-sm mx-1 text-orange-500"> 8566-8566-82</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/temp_basic.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>