body {
    background-image: url('../login_page_images/login_background2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #e0e6e6;
}

@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
        background-image: url('../login_page_images/login_background2_mobile.jpg');
    }
}

.login-box {
    --bg-opacity: 0.90;
}

.login-header {
    --bg-opacity: 0.90;
}